rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSystemAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/orgs/sys/users/$(request.auth.uid)) && get(/databases/$(database)/documents/orgs/sys/users/$(request.auth.uid)).data.valid == true && request.auth.uid in get(/databases/$(database)/documents/orgs/sys/groups/admins).data.members;
    }
    function isUser(oid) {
      return request.auth != null && get(/databases/$(database)/documents/orgs/$(oid)/users/$(request.auth.uid)).data.valid == true;
    }
    function isManager(oid) {
      return isUser(oid) && request.auth.uid in get(/databases/$(database)/documents/orgs/$(oid)/groups/managers).data.members;
    }
    function isAdmin(oid) {
      return isUser(oid) && request.auth.uid in get(/databases/$(database)/documents/orgs/$(oid)/groups/admins).data.members;
    }
    match /service/conf {
      allow read: if true;
      allow read, update: if isSystemAdmin();
    }
    match /orgs/{oid} {
      allow read: if isUser(resource.data.oid);
      allow read, update: if isManager(resource.data.oid) || isAdmin(resource.data.oid);
      allow read, write: if isSystemAdmin();
    }
    match /orgs/{oid}/users/{uid} {
      allow read: if isUser(oid);
      allow read, write: if isSystemAdmin() || isManager(oid);
    }
    match /orgs/{oid}/groups/{groutId} {
      allow read: if isUser(oid);
      allow read, write: if isSystemAdmin() || isManager(oid);
    }
    match /orgs/{oid}/posts/{postId} {
      allow read, write: if isUser(oid);
    }
    match /orgs/{oid}/templates/{templateId} {
      allow read, write: if isUser(oid);
    }
    match /orgs/{oid}/generators/{generatorId} {
      allow read, write: if isUser(oid);
    }
    match /orgs/{oid}/providers/{providerId} {
      allow read, write: if isSystemAdmin() || isAdmin(oid);
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
