@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
@import "./glassine-paper-variables.css";
@import "./theme.css";
@import "../../node_modules/glassine-paper/lib/glassine-paper.min.css";

body {
  margin: 0;
  padding: 0;
}

main,
form,
.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: start;
  max-width: 32rem;
  width: 100%;

  hr {
    margin: 0;
  }
}

main {
  padding: 1rem;
}

.row {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: start;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 32rem;
  width: 100%;
  font-family: monospace;
  font-size: 0.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: start;
  width: 100%;
}

.row.right {
  justify-content: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.message {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.message.error {
  background-color: light-dark(
    var(--color-light-error-container),
    var(--color-dark-error-container)
  );
  color: light-dark(
    var(--color-light-on-error-container),
    var(--color-dark-on-error-container)
  );
}

.message.success {
  background-color: light-dark(
    var(--color-light-tertiary-container),
    var(--color-dark-tertiary-container)
  );
  color: light-dark(
    var(--color-light-on-tertiary-container),
    var(--color-dark-on-tertiary-container)
  );
}
